.shop-container {
  width: 85%;
  margin: 0 auto;
  padding: 2rem 0;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.sort {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sort span {
  width: 100%;
  margin-left: 0.5rem;
}

.list {
  margin: 6rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
}
