.shop-container {
  width: 85%;
  margin: 0 auto;
  padding: 2rem 0;
}

.heading {
  display: grid;
  grid-template-columns: 1fr 5fr;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  gap: 2rem;
}

.heading div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sort {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sort span {
  width: 100%;
  margin-left: 0.5rem;
}

.list {
  margin: 4.5rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 220px));
  gap: 1rem;
  justify-content: space-evenly;
  align-items: center;
}

.side {
  display: none;
}

@media (min-width: 768px) {
  .side {
    display: grid;
  }

  .product-grid {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 1rem;
    justify-content: start;
    align-items: flex-start;
  }
}
