.cart-container {
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
}

.h4 {
  color: #bbb2a9;
  text-align: center;
  padding-bottom: 1rem;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #bbb2a9;
  margin: 2rem auto;

  max-width: 700px;
}

.total span {
  color: #9f2c0f;
  font-weight: 700;
  padding-left: 5px;
}

.back {
  width: 50%;
  max-width: 150px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #bbb2a9;

  cursor: pointer;
}

.back span {
  color: #bbb2a9;
  width: 20%;
}
