.items {
  position: relative;
}

.wishbtns {
  position: relative;
  top: -130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.wishbtns .icon {
  width: 12%;
  max-width: 3.5rem;
  color: #bbb2a9;
}

.wishlist-wrapper {
  width: 85%;
  margin: 2rem auto;
}

.wishlist {
  margin: 4.5rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 220px));
  gap: 1rem;
  justify-content: space-evenly;
  align-items: center;
}

.h4 {
  color: #bbb2a9;
  text-align: center;
  padding-bottom: 2rem;
}
