.container {
  position: absolute;
  bottom: 0px;
  height: auto;
  padding: 2rem 0;
  border-radius: 0px 192.165px 0px 0px;
  width: 90%;
  max-width: 600px;
  /* background: rgba(155, 155, 155, 0.653); */
  background: rgba(226, 220, 220, 0.43);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.details {
  width: 85%;
  padding: 1rem 0;
  margin: 0 auto;
}

.details h2,
.details span {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

span {
  color: #9f2c0f;
}

.details p {
  font-weight: 300;
  margin: 1rem 0;
  font-size: 1rem;
  padding: 0.5rem 0;
}

figure.icon {
  width: 1.5rem;
  margin-left: 1rem;
}

@media (min-width: 768px) {
  h2,
  span {
    font-size: 2.3rem;
  }

  .details {
    width: 70%;
  }
}
