@import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap');

header{
    background-color: rgba(226, 220, 220, 0.43);
    backdrop-filter: blur(30px);
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

figure{
    display: flex;
    align-items: start;
}

figure img{
    width:20%;
}

.logo{
    font-family: 'Jost',
    sans-serif;    
    font-weight: 700;
    font-size: 1.1rem;    
    color: #9F2C0F;

}

.logo figcaption{
    margin-left: .5rem;
}

ul.links{
  text-decoration: none;

}

.links > a{
    padding-left: .5rem;
    text-decoration: none;
    color:#BBB2A9 ;
    font-size: .875rem;
    font-weight: 500;
}

.icons{
    display: flex;
}